body {
    text-align: center;
}
.welcomeWindow {
  top: 190px;
  position: fixed;
  background: grey;
  width: 590px;
  height: 330px;
  z-index: 5;
}
.welcome, .winMessage {
color:  rgb(239, 249, 157);
text-decoration: underline;
}
.marginCorrection {
  margin-left: 5px;
}
p {
  color:  rgb(239, 249, 157);
  font-size: 26px;
}
.next {
  position: relative;
  top: 57px;
  height: 40px;
  width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(239, 249, 157);
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.radio {
  color:  rgb(239, 249, 157);
  font-size: 20px;
}
.char {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.modalBox {
  top: 160px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  width: 600px;
  height: 350px;
  border: 5px solid rgb(239, 249, 157);
  z-index: 2;
}
.marginControl {
  margin-left: -15px; /*25 */
}
.modalBg {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.selectorLayer{
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 258px; /* 50, 155, 260, 365, 465 */
}
.charLineUp {
  z-index: 4;
  position: absolute;
  top: 80px; /* 50*/
  left: 45px;
}
.accept {
  position: relative;
  top: 210px;
  height: 40px;
  width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(239, 249, 157);
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.title {
  color:  rgb(239, 249, 157);
}
.hud {
  position: relative;
  top: 650px;
  border: 2px solid black;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  background-color:  rgb(239, 249, 157);
  display: flex;
}
.hudContent {
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 50%;
  margin: none;
  text-align: left;
}
.winWindow {
  top: 190px;
  position: fixed;
  background: grey;
  width: 590px;
  height: 330px;
  z-index: -5;
  opacity: 0;
}

td {
  font-size: 18px;
  color:  rgb(239, 249, 157);
}
table {
  margin-left: 40%;
}
.restart {
  position: relative;
  top: 15px;
  height: 40px;
  width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(239, 249, 157);
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.num {
  text-align: right;
}
.alert {
color: red;
font-weight: bold;
font-size: 20px;
position: relative;
top: 30px;
opacity: 0;
}
