body {
    text-align: center;
}

.char {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.modalBox {
  top: 160px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  /* background-color: black; */
  width: 600px;
  height: 300px;
  border: 5px solid cyan;
  z-index: 2;
}
.marginControl {
  margin-left: 25px;
}
.modalBg {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.selectorLayer{
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 258px; /* 50, 155, 260, 365, 465 */
}
.charLineUp {
  z-index: 4;
  position: absolute;
  top: 50px;
  left: 45px;
}
.accept {
  position: relative;
  top: 170px;
  height: 40px;
  width: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: magenta;
  border: 5px solid black;
  font-size: 16px;
  font-weight: bold;
}
