body {
    text-align: center;
}

.modalBox {
  position: fixed; /* create the modal window layer, and have it fill the entire screen */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8); /* set the modal window layer's background color to a translucent black */
  z-index: 99999; /* put the layer on top of every other layer */
  /* opacity:0; make the layer invisible intially */
  /* pointer-events: none; */
}

.modalBox:target {
  opacity:1; /* make the modal window layer visible
  /* pointer-events: auto; */
}

.modalBox {
  width: 600px; /* set the window's width */
  position: relative;
  margin: 10% auto; /* center the window horizontally */
  padding: 5px;
  background: #fff;
}

.char {
  width: 80px;
  height: 100px;
  display: inline-block;
}
